:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --succes: #31d0aa;
  --text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --modal-overlay: rgba(46, 47, 66, 0.4);
  --hero-background: rgba(46, 47, 66, 0.7);
  --white-background: #ffffff;
  --time-transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

p,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

address {
  font-style: normal;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container-header {
  /* width: 100%; */
  padding-left: 16px;
  padding-right: 16px;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.container-portfolio {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;

  margin-left: auto;
  margin-right: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  display: inline-block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Section */
.menu-open-btn-icon {
  background-size: contain;
  stroke: var(--dark);
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.section-team {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: var(--light);
}

.section-about {
  padding-top: 96px;
  padding-bottom: 96px;
}

.section-title {
  margin-bottom: 72px;
  color: var(--dark);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.section-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

/* Header */
.header {
  background-color: var(--white-background);
  border-bottom: solid 1px var(--accent);
}

/* Body */
body {
  color: var(--text);
  background-color: var(--white-background);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

/* Logo */
.logo {
  color: var(--primary-brand);
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.03em;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 24px;
}
.logo-part {
  color: var(--dark);
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.03em;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}

/* Mobile menu active */
.site-nav {
  display: none;
}
.header-nav-address {
  display: none;
}

.header-nav {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  padding: 0;
  margin-left: auto;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--white-background);
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}
.menu-container.is-open {
  transform: translateX(0);
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mob-menu-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 80px;
  padding-left: 40px;
  padding-right: 35px;
  padding-bottom: 40px;
}
.mob-menu-tab {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark);
}
.mob-menu-list :not(:last-child) {
  margin-bottom: 40px;
}

.mob-menu-address {
  margin-top: auto;
}
.mob-menu-item-phone {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-brand);
  margin-bottom: 40px;
}
.mob-menu-link {
  color: inherit;
  text-decoration: none;
}
.mob-menu-active {
  color: var(--pressed-state);
}
.mob-menu-item-mail {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--text);
}
.mob-menu-media {
  display: flex;
  gap: 35px;
  margin-top: 48px;
}

/* Hero */
.hero {
  padding: 112px 0;
  text-align: center;
  max-width: 428px;
  min-height: 432px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--dark);
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/slider-bg-tablet-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 72;
  text-align: center;
  max-width: 320px;

  color: var(--white-background);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

/* Buttons */
.btn {
  display: inline-block;
  min-width: 169px;
  text-align: center;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin: auto;

  color: var(--white-background);
  background-color: var(--primary-brand);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  border-radius: 4px;
  border: none;

  transition-property: color, border, box-shadow, background;
  transition-duration: var(--time-transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.btn:hover,
.btn:focus {
  color: var(--white-background);
  background-color: var(--pressed-state);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding-right: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
  display: inline-block;
  border: none;
  min-width: 169px;
  text-align: center;
}

/* 01 About */
.about-item {
  padding: 0px;
}

.about {
  display: block;
  padding-top: 0;
}

.about-title {
  margin-bottom: 8px;
  color: var(--dark);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}

.about-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
  max-width: 396px;
  text-align: center;
  margin: 0 auto;
}

.about-icon-item:not(:last-child) {
  margin-bottom: 72px;
}

.about .item-about {
  width: 264px;
}

.icon-box {
  display: none;
}

.icon-about {
  background-size: contain;
}
/* 02 Types of job*/

.jobs {
  display: none;
}
.types {
  display: flex;
  gap: 24px;
}

/* 03 Team */

.team-title {
  margin-bottom: 8px;
  color: var(--dark);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
}

.team-text {
  color: var(--text);
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
}
.team-title {
  background-color: var(--white-background);
}
.team-item {
  width: 264px;
  margin: 0 auto;
  border-radius: 4px;
  background-color: var(--white-background);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-item:not(:last-child) {
  margin-bottom: 72px;
}
.team-item-content {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.media {
  display: flex;
  gap: 24px;
  margin-top: 8px;
}

.media-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primary-brand);
  display: flex;
  align-items: center;
  justify-content: center;

  transition-property: background-color;
  transition-duration: var(--time-transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.media-link:hover,
.media-link:focus,
.media-link:active {
  background-color: var(--pressed-state);
}

.media-icon {
  fill: var(--light);
}

/* 04 Customers */
.about-item {
  padding: 0px;
}
.customers-icon-item {
  max-width: 190px;
  width: calc((100% - 16px) / 2);
}

.customers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 72px 16px;
}

.customers-icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 88px;
  width: 190px;
  border-radius: 4px;
  background-position: center;
  border: 1px solid currentColor;
  color: var(--subtle-text);

  transition-property: color;
  transition-duration: var(--time-transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.customers-icon-box:hover,
.customers-icon-box:active {
  color: var(--pressed-state);
}

.customers-icon-about {
  fill: currentColor;
}

.customers-icon-about:hover,
.customers-icon-about:active {
  background-size: contain;
  fill: var(--pressed-state);
}

/* Footer */
.footer {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: var(--dark);
}

.footer-wrapp {
  display: block;
  padding-top: 0;
  height: 100%;
}
.footer-box {
  text-align: center;
}

.footer-item:not(:last-child) {
  margin-bottom: 72px;
}

/* Logo */
.logo-footer {
  align-items: center;
  color: var(--primary-brand);
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.03em;
  letter-spacing: 0.03em;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 16px;
}
.logo-footer-part {
  color: var(--light);
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.03em;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}

/* Text under logo */
.footer-text {
  color: var(--accent);
  margin-top: 16px;
  margin: 0 auto;
  width: 268px;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

/* Social media */
.footer-social-box {
  text-align: center;
}

/* Title */
.social-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-background);
  margin-bottom: 16px;
}
/* List ul */
.footer-media {
  display: flex;
  gap: 16px;
  margin-top: 16px;
  justify-content: center;
  align-items: center;
}
/* Icons media */
.footer-media-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primary-brand);
  display: flex;
  align-items: center;
  justify-content: center;

  transition-property: color, border, box-shadow, background;
  transition-duration: var(--time-transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.footer-media-link:hover,
.footer-media-link:focus,
.footer-media-link:active {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--succes);
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-media-icon {
  fill: var(--light);
}

/* subscribe form */

.subscribe-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-background);
  margin-bottom: 16px;
}

.subscribe-form {
  text-align: center;
  margin: 0 auto;
}

.subscribe-form-input {
  width: 100%;
  height: 40px;
  padding: 16px;
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-background);
  opacity: 0.3;
  border: 1px solid var(--white-background);
  border-radius: 4px;
  background-color: var(--dark);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

  transition: border var(--time-transition-duration);
  transition-timing-function: var(--transition-timing-function);
}
.subscribe-form-input:focus {
  border-color: var(--primary-brand);
  outline: none;
}

.subscribe-form-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--white-background);
}

.subscribe-form-input-wrapper {
  position: relative;
  display: block;
}

.subscribe-btn {
  display: inline-flex;
  min-width: 165px;
  text-align: center;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: auto;

  color: var(--white-background);
  background-color: var(--primary-brand);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  border-radius: 4px;
  border: none;

  transition-property: color, border, box-shadow, background;
  transition-duration: var(--time-transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  color: var(--white-background);
  background-color: var(--pressed-state);
}

.footer-subscribe-btn-icon {
  margin-left: 16px;
  fill: var(--white-background);
}

.subscribe-content {
  display: block;
}

/* Portfolio novigation */

.btn-filter {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;

  color: var(--primary-brand);
  background-color: var(--light);
  border: 1px solid var(--accent);
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;

  transition-property: color, border, box-shadow, background;
  transition-duration: var(--time-transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.btn-filter:hover,
.btn-filter:focus {
  color: var(--white-background);
  background-color: var(--pressed-state);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.nav-portfolio {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}

.nav-portfolio .item + .item {
  margin-left: 24px;
}

/* Portfolio card-set */
.card {
  flex-basis: calc((100% - 48px) / 3);
}

.card-link {
  transition-property: color, border, box-shadow;
  overflow: hidden;
  transition-duration: var(--time-transition-duration);
  transition-timing-function: var(--transition-timing-function);
}
.card-link:hover,
.card-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.card-title {
  margin-bottom: 8px;
  color: var(--dark);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: start;
  letter-spacing: 0.02em;
}

.card-text {
  color: var(--text);
  font-size: 16px;
  line-height: 1.5;
  text-align: start;
  letter-spacing: 0.02em;
}

.card-content {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;

  border-left: 1px solid var(--accent);
  border-right: 1px solid var(--accent);
  border-bottom: 1px solid var(--accent);
}

.box-exampleworks {
  position: relative;
  width: 360px;
  height: 300px;
  margin: 0 auto;
  background-color: #bdbdbd;
  overflow: hidden;
}

.overlay-background {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-brand);
  color: var(--light);
  padding: 32px 40px;
  margin: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  transition: transform var(--time-transition-duration) var(--transition-timing-function);
}

.card-link:hover .overlay-background,
.card-link:focus .overlay-background {
  transform: translateY(-100%);
}

/* Modal window */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 1;
  transition-duration: var(--time-transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 95%;
  max-width: 392px;
  height: 95%;
  max-height: 586px;
  overflow: scroll;
  padding: 72px 24px 24px;
  transition: var(--time-transition-duration), var(--transition-timing-function);
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
/* Button close in the Modal */
.close-btn-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background: var(--accent);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: var(--time-transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.icon-btn-modal {
  width: 8px;
  height: 8px;
  fill: var(--dark);
  transition: fill var(--time-transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.close-btn-modal:hover,
.close-btn-modal:focus,
.close-btn-modal:active {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background: var(--pressed-state);
  border-radius: 50%;
  transition: var(--time-transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.close-btn-modal:hover .icon-btn-modal,
.close-btn-modal:active .icon-btn-modal {
  fill: var(--light);
}

/* Content modal window */

.text-modal {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 16px;

  text-align: center;
  letter-spacing: 0.02em;
  color: var(--dark);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  color: var(--text);

  transition: border var(--time-transition-duration);
  transition-timing-function: var(--transition-timing-function);
}
.modal-form-input:focus {
  border-color: var(--primary-brand);
  outline: none;
}

.modal-form-input:focus + .modal-form-input-icon {
  fill: var(--primary-brand);
}

.modal-form-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--subtle-text);
}
.modal-form-textarea {
  resize: none;
  width: 100%;
  height: 120px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 8px 16px;
  color: var(--text);
}

.modal-form-textarea:focus {
  border-color: var(--primary-brand);
  outline: none;
  transition: border-color var(--time-transition-duration);
  transition-timing-function: border-color var(--transition-timing-function);
}

.modal-form-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--subtle-text);
}

.modal-form-field {
  margin-bottom: 8px;
}
.modal-form-text-area {
  margin-bottom: 16px;
}

.modal-form-input-desc {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--subtle-text);
  margin-bottom: 4px;
}

/* Icon in the inputs */

.modal-form-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translate(0, -50%);
  width: 18px;
  height: 24px;
  display: block;
  fill: var(--dark);
  transition: fill var(--time-transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

/* Inputs  */

.modal-form-input-wrapper {
  position: relative;
  display: block;
}

/* Check-box */
.modal-form-check-desc::before {
  content: "";
  display: block;
  cursor: pointer;

  margin-right: 8px;

  width: 16px;
  height: 16px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
}

.modal-form-check:checked + .modal-form-check-desc::before {
  background-image: url(../images/svg/click.svg);
  fill: var(--light);
  background-color: var(--pressed-state);
  background-size: 10px 8px;
  background-repeat: no-repeat;
  background-position: center;

  transition: var(--time-transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.modal-form-check:focus + .modal-form-check-desc::before {
  border-color: var(--primary-brand);
  transition: var(--time-transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.modal-form-check-desc {
  display: flex;
  align-items: center;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 24px;

  color: var(--subtle-text);
}
.user-policy-link {
  color: var(--primary-brand);
}
/* Media for modal window */
@media screen and (min-width: 767px) {
  .modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    height: 584px;
    padding: 72px 24px 24px;
    transition: var(--time-transition-duration), var(--transition-timing-function);
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
}

/* Media for Navigation */

@media screen and (min-width: 428px) {
  .mob-menu-media {
    display: flex;
    gap: 56px;
    margin-top: 48px;
  }
}
@media screen and (min-width: 767px) {
  .menu-toggle {
    display: none;
  }
}

@media screen and (min-width: 1157px) {
  .header-nav-address {
    display: flex;
  }
  .header-nav {
    display: flex;
    align-items: center;
  }

  .site-nav {
    display: flex;
    margin-left: 76px;
  }

  .site-nav .item + .item {
    margin-left: 40px;
  }

  .site-nav .link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

    color: var(--dark);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    transition: color var(--time-transition-duration) var(--transition-timing-function);
  }

  .site-nav .link:hover,
  .site-nav .link:focus,
  .site-nav .link:active {
    color: var(--pressed-state);
  }

  .site-nav .link.current {
    color: var(--primary-brand);
  }
  .site-nav .link.active {
    position: relative;
    display: block;
    color: var(--primary-brand);
  }

  .active::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--primary-brand);
  }

  .address {
    font-style: normal;
    margin-left: auto;
  }
  .address-nav {
    display: flex;
    margin-left: auto;
  }

  .address-nav .item + .item {
    margin-left: 40px;
  }

  .address-nav .link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

    color: var(--text);
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
    transition: color var(--time-transition-duration) var(--transition-timing-function);
  }
  .address-nav .link:hover,
  .address-nav .link:focus,
  .address-nav .link:active {
    color: var(--pressed-state);
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
  }
}
/* Media tablet for header */
@media screen and (min-width: 767px) and (max-width: 1157px) {
  .address {
    font-style: normal;
    margin-left: auto;
  }
  .address-nav {
    display: block;
    margin-left: auto;
  }
  .header-nav-address {
    display: block;
    margin-top: 24px;
    margin-bottom: 12px;
  }
  .address-nav .link {
    display: block;

    color: var(--text);
    font-style: normal;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    font-style: normal;
    transition: color var(--time-transition-duration) var(--transition-timing-function);
  }
  .address-nav .link:hover,
  .address-nav .link:focus,
  .address-nav .link:active {
    color: var(--pressed-state);
    font-style: normal;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    font-style: normal;
  }
  .addresse-item-email {
    margin-bottom: 6px;
  }
  .header-nav {
    display: flex;
    align-items: center;
  }

  .site-nav {
    display: flex;
    margin-left: 76px;
  }

  .site-nav .item + .item {
    margin-left: 40px;
  }

  .site-nav .link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

    color: var(--dark);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    transition: color var(--time-transition-duration) var(--transition-timing-function);
  }
  .site-nav .link:hover,
  .site-nav .link:focus,
  .site-nav .link:active {
    color: var(--pressed-state);
  }
  .site-nav .link.current {
    color: var(--primary-brand);
  }
  .site-nav .link.active {
    position: relative;
    display: block;
    color: var(--primary-brand);
  }
  .active::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--primary-brand);
  }
}

/* Media for Hero */
@media screen and (min-width: 767px) and (max-width: 1157px) {
  .hero {
    padding: 112px 0;
    text-align: center;
    max-width: 768px;
    min-height: 436px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--dark);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/slider-bg-tablet-1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .hero-title {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 40;
    text-align: center;
    width: 436px;

    color: var(--white-background);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 1157px) {
  .hero-title {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 48;
    text-align: center;
    width: 600px;

    color: var(--white-background);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
  }
  .hero {
    padding: 188px 0;
    text-align: center;
    max-width: 1440px;
    min-height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--dark);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/slider-bg-tablet-1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1157px),
  screen and (min-resolution: 192dpi) and (min-width: 1157px),
  screen and (min-resolution: 2dppx) and (min-width: 1157px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/slider-bg-desktop-2x.jpg);
  }
}
@media screen and (min-width: 1157px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/people-office-hero.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 767px),
  screen and (min-resolution: 192dpi) and (min-width: 767px),
  screen and (min-resolution: 2dppx) and (min-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/slider-bg-tablet-2x.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
  screen and (min-resolution: 192dpi) and (min-width: 320px),
  screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/slider-bg-mob-2x.jpg);
  }
}
/* Media for About */
@media screen and (min-width: 1157px) {
  .container {
    max-width: 1158px;
  }

  .about-title {
    margin-bottom: 8px;
    color: var(--dark);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
  }
}
@media screen and (min-width: 1157px) {
  .about-text {
    font-weight: 400;
  }
}
@media screen and (min-width: 1157px) {
  .about {
    display: flex;
    gap: 24px;
  }
  .about-item {
    padding: 0px;
  }
  .about .item-about {
    width: 264px;
  }
  .icon-about {
    background-size: contain;
  }
  .about-title {
    text-align: left;
  }

  .about-text {
    text-align: left;
  }
}

@media screen and (min-width: 767px) and (max-width: 1157px) {
  .about .about-icon-item {
    width: 351px;
  }
  .about-title {
    text-align: left;
  }
  .about-text {
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .about {
    display: flex;
    gap: 24px;
  }
}

@media screen and (min-width: 1157px) {
  .icon-box {
    background-color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    border-radius: 4px;
    margin-bottom: 8px;
    background-position: center;
  }
}

@media screen and (min-width: 1157px) {
  .section-about {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

@media screen and (max-width: 767px) {
  .about-icon-item {
    margin: 0 auto;
  }
}

@media screen and (min-width: 767px) and (max-width: 1157px) {
  .about {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
}

@media screen and (min-width: 767px) and (max-width: 1157px) {
  .about-icon-item {
    width: calc((100% - 24px) / 2);
  }
}

about-text

/* Media for Types of job */

@media screen and (min-width: 1157px) {
  .jobs {
    display: block;
    padding-top: none;
  }
}

/* Media for Our Team */

@media screen and (min-width: 1157px) {
  .section-team {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: var(--light);
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (max-width: 1157px) {
  .container {
    padding: 0 16px;
  }
}

@media screen and (min-width: 767px) {
  .team-item {
    margin: 0;
  }
  .team-item:not(:last-child) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 767px) {
  .team {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 64px 24px;
  }
}
@media screen and (min-width: 767px) {
  .media-item {
    width: calc((100% - 24px) / 2);
  }
}

/* Media for Customers */

@media screen and (min-width: 1157px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
    width: 100%;
  }
}

@media screen and (min-width: 1157px) {
  .customers {
    display: flex;
    gap: 24px;
  }
}

@media screen and (min-width: 767px) {
  .customers {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .customers-icon-box {
    height: 88px;
    width: 168px;
  }
  .customers-icon-item {
    max-width: 168px;
    width: calc((100% - 24px) / 3);
  }
}
/* Media for Footer */

@media screen and (min-width: 1157px) {
  .subscribe-form {
    margin: 0 auto;
    margin-left: 80px;
    text-align: left;
  }

  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--dark);
  }

  .footer-wrapp {
    display: flex;
  }
  .footer-box {
    margin-right: 120px;
  }
  .footer-text {
    color: var(--accent);
    width: 264px;
    letter-spacing: 0.02em;
    line-height: 1.5;
  }
  .social-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white-background);
    margin-bottom: 16px;
  }

  .footer-media {
    display: flex;
    gap: 16px;
    margin-top: 16px;
  }
}

@media screen and (min-width: 1157px) {
  .footer-item:not(:last-child) {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 767px) {
  .footer-media {
    display: flex;
    gap: 16px;
    margin-top: 16px;
  }
}
@media screen and (min-width: 767px) {
  /* .footer-wrapp {
    padding-left: 108px;
    padding-right: 108px;
  } */
  .footer-social-box {
    text-align: left;
  }

  .subscribe-form-input {
    width: 264px;
    height: 40px;
    padding: 16px;
    margin-bottom: 0px;
    margin-right: 24px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white-background);
    opacity: 0.3;
    border: 1px solid var(--white-background);
    border-radius: 4px;
    background-color: var(--dark);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

    transition: border var(--time-transition-duration);
    transition-timing-function: var(--transition-timing-function);
  }
}
@media screen and (min-width: 767px) {
  .footer-box {
    text-align: left;
  }

  .footer-item:not(:last-child) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 767px) and (max-width: 1157px) {
  .footer-wrapp {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .subscribe-text {
    text-align: left;
  }
  .subscribe-form {
    margin: 0;
  }
}
@media screen and (min-width: 1157px) {
  .subscribe-content {
    display: flex;
  }
}
